{% extends "traveltime/base.html" %}

{% block title %} Commute {% endblock %}



{% block content %}

{% include "traveltime/navigation.html" %}

<div class="container" id="content" style="padding-top: 65px;" >
  <div class="jumbotron">
    <h1 class="display-3">Want to Commute?</h1>
  </div>
  <form action="{% url 'search' %}" method="get">
    <div class="form-group">
      <label for="destination">Destination</label>
      <input type="text" name="destination" class="form-control" id="destination" placeholder="Destination" autocomplete="off" data-provide="typeahead">
    </div>
    <div class="form-group">
      <label for="time">Time</label>
      <input type="text" name="time" class="form-control" id="time" placeholder="Time">
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsTransit" id="transit_button" value="transit" checked>
        Public Transport
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsTransit" id="drive_button" value="driving">
        Driving
      </label>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script>
$(document).ready(function(){
    $("input").typeahead({
        source: {{ locations|safe }}, 
        minLength: 1
    });
});
</script>


{% endblock %}