{% extends "traveltime/base.html" %}

{% load static %}

{% block title %} Nearby Towns {% endblock %}

{% block extra_head %}

	<!-- Esri API -->
	<link rel="stylesheet" href="https://js.arcgis.com/3.18/esri/css/esri.css">
	<script src="https://js.arcgis.com/3.18/"></script>



  <script src='{% static "geojson-layer-js-master/vendor/terraformer/terraformer.min.js" %}'></script>
  <script src='{% static "geojson-layer-js-master/vendor/terraformer-arcgis-parser/terraformer-arcgis-parser.min.js" %}'></script>

	<!-- Build location list for origin markers -->
	<script type="text/javascript">
	var locations = [];

	for (var i = 0; i < {{ locations|safe }}.length; i++) {
		locations.push({
			latitude: {{ start_lats|safe }}[i],
			longitude: {{ start_longs|safe }}[i],
      name: {{ locations|safe }}[i],
      time: {{ travel_times|safe }}[i] / 60,
		});
	}


	</script>

	<!-- Map -->
	<script>
	var map;

	require(["esri/map", 
    '{% static "geojson-layer-js-master/src/geojsonlayer.js" %}',
		"esri/graphic",
		"esri/symbols/PictureMarkerSymbol",
		"esri/geometry/Point", 
    "esri/InfoTemplate",
		"dojo/on",
    "dojo/dom",
		"dojo/domReady!"], function(Map, GeoJsonLayer, Graphic, PictureMarkerSymbol, Point, InfoTemplate, on) {
		map = new Map("map", {
		  basemap: "streets",  //For full list of pre-defined basemaps, navigate to http://arcg.is/1JVo6Wd
		  center: [{{end_long}}, {{ end_lat }}], // longitude, latitude
		  zoom: 10,
		});

		// Once loaded, add markers
		map.on('load', function() {

      // add supermarkets to map
      var geoJsonLayer = new GeoJsonLayer({
      url: "https://opendata.arcgis.com/datasets/44a257576088440faaa22d49676cbf14_0.geojson"
      });
      map.addLayer(geoJsonLayer);
      // geoJsonLayer.show();
			// Add origin markers
			var picSymbol = new PictureMarkerSymbol('{% static "marker.svg"%}', 30, 30);

				for (var i = 0; i < locations.length; i++) {

          var Attrs = {name : locations[i].name, time : locations[i].time }
					var geometryPoint = new Point(locations[i].longitude, locations[i].latitude);
					map.graphics.add(new Graphic(geometryPoint, picSymbol, Attrs, new InfoTemplate("${name}", "Travel Time: ${time} minutes")));
				}

			// Add destination marker
			var picDestSymbol = new PictureMarkerSymbol('{% static "work_icon.svg"%}', 30, 30);
			var geometryPoint = new Point({{end_long}}, {{ end_lat }});
			map.graphics.add(new Graphic(geometryPoint, picDestSymbol));



		});
	});


	 </script>

{% endblock %}

{% block content %}

	<div class="container" style="padding:15px;">
		  <div id="map"></div>
	</div>


{% if locations %}
	<ul>
	{% for place in locations %}
		<li>{{place}}</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No locations given!.</p>
{% endif %}

{% endblock %}
