{% extends "traveltime/base.html" %}

{% load static %}

{% block title %} Nearby Towns {% endblock %}

{% block extra_head %}

    <!-- Esri API -->
    <link rel="stylesheet" href="https://js.arcgis.com/3.18/esri/css/esri.css">
    <script src="https://js.arcgis.com/3.18/"></script>


    <!-- Initialise Map -->
	<script>
      var map;

      require(["esri/map", "esri/graphic","esri/symbols/PictureMarkerSymbol","esri/geometry/Point","esri/symbols/TextSymbol",
      			"dojo/domReady!"], function(Map) {
        map = new Map("map", {
          basemap: "national-geographic",  //For full list of pre-defined basemaps, navigate to http://arcg.is/1JVo6Wd
          center: [{{end_long}}, {{ end_lat }}], // longitude, latitude
          zoom: 13
        });
      });
    
    console.log({{end_long}}, {{ end_lat }})

    //// adding in the markers
        var locations = [{
            latitude: 37.75,
            longitude: -123.45,
            text: 34
        }, {
            latitude: 37.75,
            longitude: -120.45,
            text: 50
        }];
        var picSymbol = new PictureMarkerSymbol(
                'http://static.arcgis.com/images/Symbols/Shapes/BluePin1LargeB.png', 60, 60);

            for (var i = 0; i < locations.length; i++) {
                var geometryPoint = new Point(locations[i].longitude, locations[i].latitude);
                var textSymbol = new TextSymbol(locations[i].text).setOffset(0, -4);
                map.graphics.add(new Graphic(geometryPoint, picSymbol));
                map.graphics.add(new Graphic(geometryPoint, textSymbol));
            }
        //// end marker codes

     </script>

{% endblock %}

{% block content %}

    <div class="container" style="padding:15px;">
          <div id="map"></div>
    </div>


{% if locations %}
    <ul>
    {% for place in locations %}
        <li>{{place}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No locations given!.</p>
{% endif %}

{% endblock %}
